[submodule "flipper-stock"]
	path = flipper-stock
	url = https://github.com/flipperdevices/flipperzero-good-faps
[submodule "isolinear"]
	path = isolinear
	url = https://github.com/theisolinearchip/flipperzero_stuff
[submodule "multi-fuzzer"]
	path = multi-fuzzer
	url = https://github.com/DarkFlippers/Multi_Fuzzer
[submodule "fz-iphone-dcsd"]
	path = fz-iphone-dcsd
	url = https://github.com/arag0re/fz-iphone-dcsd
[submodule "flipwire"]
	path = flipwire
	url = https://github.com/liamhays/flipwire
[submodule "Leeds-Flipper-Zero-Applications"]
	path = Leeds-Flipper-Zero-Applications
	url = https://github.com/leedave/Leeds-Flipper-Zero-Applications
[submodule "flipperzero_pomodoro"]
	path = flipperzero_pomodoro
	url = https://github.com/sbrin/flipperzero_pomodoro
[submodule "flipperzero-esp-flasher"]
	path = flipperzero-esp-flasher
	url = https://github.com/0xchocolate/flipperzero-esp-flasher
[submodule "flipperzero-lightmeter"]
	path = flipperzero-lightmeter
	url = https://github.com/oleksiikutuzov/flipperzero-lightmeter
[submodule "ublox"]
	path = ublox
	url = https://github.com/liamhays/ublox
[submodule "flipper-apps"]
	path = flipper-apps
	url = https://github.com/lomalkin/flipper-apps
[submodule "fz_dope"]
	path = fz_dope
	url = https://github.com/u0d7i/fz_dope
[submodule "FlipperZero_Annoying_Apple"]
	path = FlipperZero_Annoying_Apple
	url = https://github.com/h0e4a0r1t/FlipperZero_Annoying_Apple
[submodule "uhf_rfid"]
	path = uhf_rfid
	url = https://github.com/frux-c/uhf_rfid
[submodule "flip_rob"]
	path = flip_rob
	url = https://github.com/riney/flip_rob
[submodule "kb_fuzzer"]
	path = kb_fuzzer
	url = https://github.com/n-92/kb_fuzzer
[submodule "wch_swio_flasher"]
	path = wch_swio_flasher
	url = https://github.com/sukvojte/wch_swio_flasher
[submodule "Multi_Fuzzer"]
	path = Multi_Fuzzer
	url = https://github.com/DarkFlippers/Multi_Fuzzer
[submodule "flipper-canutils"]
	path = flipper-canutils
	url = https://github.com/iomonad/flipper-canutils
[submodule "flipperzero-StepCounter-fap"]
	path = flipperzero-StepCounter-fap
	url = https://github.com/grugnoymeme/flipperzero-StepCounter-fap
[submodule "Flipper-Zero-Game-Boy-Pokemon-Trading"]
	path = Flipper-Zero-Game-Boy-Pokemon-Trading
	url = https://github.com/EstebanFuentealba/Flipper-Zero-Game-Boy-Pokemon-Trading
[submodule "flipperzero-shapshup"]
	path = flipperzero-shapshup
	url = https://github.com/derskythe/flipperzero-shapshup
[submodule "flipperzero-qrcode"]
	path = flipperzero-qrcode
	url = https://github.com/bmatcuk/flipperzero-qrcode
[submodule "flipperzero-tools"]
	path = flipperzero-tools
	url = https://github.com/coded-with-claws/flipperzero-tools
[submodule "flipper-xremote"]
	path = flipper-xremote
	url = https://github.com/kala13x/flipper-xremote
[submodule "esubghz_chat"]
	path = esubghz_chat
	url = https://github.com/twisted-pear/esubghz_chat
[submodule "flipper-radar"]
	path = flipper-radar
	url = https://github.com/MatthewKuKanich/flipper-radar
[submodule "flipper-universal-remote"]
	path = flipper-universal-remote
	url = https://github.com/Matthias1987-dev/flipper-universal-remote
[submodule "flipper-zero-hex_editor"]
	path = flipper-zero-hex_editor
	url = https://github.com/dunaevai135/flipper-zero-hex_editor
[submodule "flipper-zero_authenticator"]
	path = flipper-zero_authenticator
	url = https://github.com/akopachov/flipper-zero_authenticator
[submodule "flipp_pomodoro"]
	path = flipp_pomodoro
	url = https://github.com/Th3Un1q3/flipp_pomodoro
[submodule "unitemp-flipperzero"]
	path = unitemp-flipperzero
	url = https://github.com/quen0n/unitemp-flipperzero
[submodule "flipper-zero-video-player"]
	path = flipper-zero-video-player
	url = https://github.com/LTVA1/flipper-zero-video-player
[submodule "flipperzero-wifi-marauder"]
	path = flipperzero-wifi-marauder
	url = https://github.com/0xchocolate/flipperzero-wifi-marauder
[submodule "flipperzero-good-faps"]
	path = flipperzero-good-faps
	url = https://github.com/flipperdevices/flipperzero-good-faps
[submodule "flipperzero-geigercounter"]
	path = flipperzero-geigercounter
	url = https://github.com/nmrr/flipperzero-geigercounter
[submodule "flipper-zero-hex-viewer"]
	path = flipper-zero-hex-viewer
	url = https://github.com/QtRoS/flipper-zero-hex-viewer
[submodule "flizzer_tracker"]
	path = flizzer_tracker
	url = https://github.com/LTVA1/flizzer_tracker
[submodule "flipper-zero-cross-remote"]
	path = flipper-zero-cross-remote
	url = https://github.com/leedave/flipper-zero-cross-remote
[submodule "Flipper-Zero-Camera-Suite"]
	path = Flipper-Zero-Camera-Suite
	url = https://github.com/CodyTolene/Flipper-Zero-Camera-Suite
[submodule "flipper-xbox-controller"]
	path = flipper-xbox-controller
	url = https://github.com/gebeto/flipper-xbox-controller
